*{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("https://i.ibb.co/99gckzkq/Background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.a1{
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 25%;
    padding-left: 40%;
    z-index: 1;
    user-select: none;
    animation: key 5s forwards;
}
.a2{
    background-color: rgb(20, 20, 30);
    height: 20%;
    width: 100%;
    color: white;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
}
.a3{
    background-image: url(Menu.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 5%;
    height: 4.5%;
    position: fixed;
    top: 0;
    opacity: 0.5;
}
@keyframes key{
    0% { color: black; text-shadow: 10px 10px 50px; padding-left: 40%; background-color: black; }
    25% { color: white; text-shadow: 10px 10px 50px; padding-left: 40%; background-color: black; }
    50% { color: white; text-shadow: 10px 10px 5px; padding-left: 40%; background-color: black; }
    75% { color: white; text-shadow: 10px 10px 5px; padding-left: 10%; background-color: black; }
    100% { color: white; text-shadow: 10px 10px 5px; padding-left: 10%; background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(10px);}
}
/*Versión 1.0.1.1*/